{% extends "layouts/app_base.html" %}

{% block title %}質問一覧 | RareTECHナレッジ掲示板{% endblock %}
{% block topbar %}{% endblock %}

{% block content %}
<section class="space-y-5">
  {% include "app/components/qa/list/_page_header.html" %}
  {% include "app/components/qa/list/_search_section.html" %}

  <div class="space-y-4">
    {% if object_list %}
      {% include "app/components/qa/_question_list_partial.html" with questions=object_list show_bookmark="1" %}
    {% else %}
      {% include "app/components/qa/_question_empty_partial.html" with show_icon="1" empty_title="該当する質問が見つかりませんでした" empty_message="検索条件を変更するか、新しい質問を投稿してください" %}
    {% endif %}
  </div>
</section>

{% include "app/components/qa/common/_filter_modal.html" with modal_id="filter-modal" form_action="/home/" hx_get_url="/home/" %}
{% endblock %}
