
現在のログインユーザー:
{{user.name}}
<!-- ↑開発用にいれてます。誰がログインしているかわからなくなるため。消してOK　byアナザー -->

{% for question in object_list %}

<p>投稿者：{{question.user.name}}</p>
<p>タイトル：{{question.title}}</p>
<p>投稿日時：{{question.created_at | date:"Y/m/d H:i"}}</p>
<p>カテゴリ：{{question.category.name}}</p>
<p>ステータス：{{question.get_status_display}}</p>
{% if question.user == user %}
    <!-- 自分の時だけ削除ボタンを出す -->
    <a href="{% url 'knowledgeapp:delete_question' question.pk %}">削除</a>
{% endif %}
{% empty %}
    <p>データがありません。</p>
{% endfor %}

<a href="{% url 'knowledgeapp:new_question' %}" type="submit">投稿</a>


<form method="POST" action="{% url 'logout' %}">
  {% csrf_token %}
  <button type="submit">ログアウト</button>
</form>
<a class="auth-link" href="{% url 'accounts:setting' %}">マイページはこちら</a>
